@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

.App {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 250px auto;
  height: 100vh;
  overflow: scroll;
}

.Article_Box {
  background-image: url("https://free4kwallpapers.com/uploads/originals/2019/07/22/outrun-themed-wallpaper.jpg");
  background-size: cover;
  color: white;
  font-family: "Michroma", sans-serif;
}

.Header_Button {
  background-color: black;
  color: white;
  font-family: "Michroma", sans-serif;
  border-color: white;
  border-style: groove;
  transition: background-color 0.2s ease-out;
}

.Header_Button:hover {
  background-color: black;
  transition: background-color 0.2s ease-in;
  color: white;
}

.Button {
  background-image: url("https://free4kwallpapers.com/uploads/originals/2019/07/22/outrun-themed-wallpaper.jpg");
  color: white;
  font-family: "Michroma", sans-serif;
}

.Nav {
  background-image: linear-gradient(to bottom, yellow, red);
  font-family: "Michroma", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  grid-column: 1 / span 2;
  padding: 10px 5px;
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form input,
form textarea {
  margin-bottom: 10px;
  width: 300px;
}

nav,
article {
  height: 100%;
  padding: 10px;
}

nav {
  background-color: #dee9ff;
}

nav p:hover {
  text-decoration: underline;
  cursor: pointer;
}

article .date {
  font-style: italic;
}

article .body {
  white-space: break-spaces;
}

.error {
  background-color: red;
  color: gold;
  padding: 5px;
}
